[Unit]
Description=BNW cloudadapter
After=update-hw-revision.service environment.service
Wants=update-hw-revision.service environment.service
StartLimitIntervalSec=24h
StartLimitBurst=60

[Service]
Type=notify
Restart=on-failure
RestartSec=10
RestartSteps=5
RestartMaxDelaySec=20m
WatchdogSec=60
TimeoutStartSec=300
NotifyAccess=main
WorkingDirectory=/var/lib/cloudadapter
ExecStart=/usr/bin/cloudadapter -v
ExecStopPost=-/bin/sh -c "mkdir -p /run/cloudadapter && echo -n 'RED' > /run/cloudadapter/led_status"
Environment=PYTHONUNBUFFERED=1
Environment=CLOUDADAPTER_ON_CONNECT_ACTIVITIES_WAIT_TIMEOUT=15
Environment=CLOUDADAPTER_RATELIMIT_DEVICE_TELEMETRY=20000/86400!0
Environment=CLOUDADAPTER_RATELIMIT_DEVICE_TELEMETRY_PATH_lemonbeat_status_message=20/3600!0
Environment=CLOUDADAPTER_CLOUD_RECONNECT_ON_IPADDRESS_CHANGE=true
Environment=CLOUDADAPTER_TELEMETRY_BASIC_INGEST=true
Environment=CLOUDADAPTER_SYSTEMD_SIGNAL_IMMEDIATE_READINESS=true
Environment=CLOUDADAPTER_GDS_CONNECTION_STATUS_ONLINE_REPORT_FREQUENCY=82800.0

# SG-18571 Turn memory bloat into a hard error
MemoryMax=30M

[Install]
WantedBy=multi-user.target
