[Unit]
Description=Configure unique hostname
Before=network-pre.target

[Service]
ExecStart=/usr/bin/unique-hostname
Type=oneshot

[Install]
WantedBy=basic.target
