[Unit]
Description=Proxy server allowing clients to open TCP sockets with optional TLS encryption using the CoAP protocol
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=60
MemoryMax=15M
ExecStart=/usr/bin/coap-transport-proxy

[Install]
WantedBy=multi-user.target
