[Unit]
Description=Data migration
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/sysupgrade
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=basic.target
