[Unit]
Description=SSH Tunnel Check Timer
After=network-online.target

[Timer]
# On boot, wait a little so we might actually have an Internet connection
OnBootSec=1m
# Retry daily
OnUnitActiveSec=13h

[Install]
WantedBy=timers.target
