[Unit]
Description=SSH Tunnel
Requires=environment.service
Wants=network-online.target
After=environment.service network-online.target
ConditionPathExists=/etc/eol_test_passed

[Service]
Type=notify
NotifyAccess=main
Restart=on-failure
RestartSec=60
ExecStart=/usr/sbin/sshtunnel
