[Unit]
Description=Simple network management service
Wants=dhcpcd.service openvpn@sg-cos-%i.service
After=network.target dhcpcd.service openvpn@sg-cos-%i.service accessory-server.service

[Service]
Type=simple
ExecStart=/usr/bin/network_management
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
