[Unit]
Description=Automatic Development Package Installer
Wants=network-online.target
After=network-online.target
ConditionPathExists=/etc/eol_test_passed

[Service]
Type=simple
Restart=on-failure
RestartSec=60
ExecStart=/usr/bin/devpkginstaller

[Install]
WantedBy=multi-user.target
