[Unit]
Description=Update Hardware Revision file

[Service]
ExecStart=/usr/bin/update-hw-revision
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
