[Unit]
Description=Update Software Versions file for SWUpdate

[Service]
ExecStart=/usr/bin/update-sw-versions
Type=oneshot

[Install]
WantedBy=multi-user.target
