[Unit]
Description=Create EOL status file

[Service]
ExecStart=/bin/sh -c 'if [ "$(fw_printenv -n migration_done)" = "1" ]; then touch /etc/eol_test_passed; else migration-stage3; fi'
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=serial-getty@ttyS0.service
