[Unit]
Description=SSH Tunnel Button Observer
Requires=environment.service
Wants=network-online.target
After=environment.service network-online.target
ConditionPathExists=/etc/eol_test_passed

[Service]
Type=exec
Restart=on-failure
RestartSec=60
TimeoutSec=10m
ExecStart=/usr/sbin/sshtunnel-button

[Install]
WantedBy=multi-user.target
