[Unit]
Description=SSH Tunnel Check
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Restart=on-failure
RestartSec=1m
RestartSteps=10
RestartMaxDelaySec=30m
ExecCondition=/usr/sbin/sshtunnel-check
ExecStart=systemctl start sshtunnel
