[Unit]
Description=SSH Tunnel Timer
After=network-online.target

[Timer]
# Give the factory image enough time to upgrade, otherwise start sshtunnel for troubleshooting.
OnBootSec=1h
OnUnitActiveSec=30m

[Install]
WantedBy=timers.target
