[Unit]
Description=SSH Tunnel Timer
After=network-online.target

[Timer]
# Give the factory image enough time to upgrade, otherwise start sshtunnel for troubleshooting.
OnBootSec=15m
# Retry daily
OnUnitActiveSec=13h

[Install]
WantedBy=timers.target
