[Unit]
Description=GARDENA smart Gateway config interface
Requires=gateway-config-interface-sslkey.service
After=network.target gateway-config-interface-sslkey.service

[Service]
ExecStart=/usr/bin/gateway-config-interface
WorkingDirectory=/usr/share/gateway-config-interface
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
