[Unit]
Description=Firmware rollout service
After=lemonbeatd.service lwm2mserver.service time-sync.target network-online.target
Wants=lemonbeatd.service lwm2mserver.service time-sync.target network-online.target

[Service]
Type=simple
Environment=RUST_LOG=info
ExecStart=/usr/bin/fwrolloutd

Restart=on-failure
RestartSec=10
RestartSteps=5
RestartMaxDelaySec=20m

# SG-18571 Turn memory bloat into a hard error
MemoryMax=15M

[Install]
WantedBy=multi-user.target
