[Unit]
Description=Create EOL status file

[Service]
ExecStart=/bin/sh -c 'if [ ! -f /etc/eol_test_passed ]; then touch /etc/eol_test_passed; fi'
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=serial-getty@ttyS0.service
