[Unit]
Description=Store vpn0 traffic locally to allow post mortem analysis
BindsTo=sys-devices-virtual-net-vpn0.device
After=sys-devices-virtual-net-vpn0.device
Before=shadoway.service

[Service]
Environment="SAVE_DIR=/tmp/tcpdump-sherlock"
ExecStartPre=/bin/mkdir -p "${SAVE_DIR}"
ExecStart=tcpdump --interface vpn0 --packet-buffered -W 2 -C 1 -w "${SAVE_DIR}/vpn0.pcap."
ExecStopPost=rm -r "${SAVE_DIR}"

[Install]
WantedBy=basic.target
WantedBy=shadoway.service
