[Unit]
Description=Store ppp0 traffic locally to allow post mortem analysis
BindsTo=sys-devices-virtual-net-ppp0.device
After=sys-devices-virtual-net-ppp0.device
Before=lemonbeatd.service
Before=lwm2mserver.service

[Service]
Environment="SAVE_DIR=/tmp/tcpdump-sherlock"
ExecStartPre=/bin/mkdir -p "${SAVE_DIR}"
ExecStart=tcpdump --interface ppp0 --packet-buffered -W 2 -C 1 -w "${SAVE_DIR}/ppp0.pcap."

[Install]
WantedBy=basic.target
WantedBy=lemonbeatd.service
WantedBy=lwm2mserver.service
