[Unit]
Description=Check RM firmware version and flash RM if needed
ConditionPathExists=/etc/fct_finalized
Requires=environment.service
After=environment.service

[Service]
ExecStart=/usr/bin/rm-flashing
Type=oneshot
RemainAfterExit=true

[Install]
RequiredBy=multi-user.target
