[Unit]
Description=Link change detector on eth0
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /var/run/linkupdown
ExecStart=/usr/bin/linkupdown
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
