[Unit]
Description=Firewall
Before=network.target
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/firewall

[Install]
WantedBy=multi-user.target
