[Unit]
Description=Internet LED indication
ConditionPathExists=/etc/eol_test_passed
After=network.target eoltest-check.service
Wants=eoltest-check.service

[Service]
Type=simple
ExecStart=/usr/bin/internet-ledd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

