[Unit]
Description=RF LED setup
After=ppp.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rf-led-setup
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

