[Unit]
Description=Simple network management service
Wants=dhcpcd.service manufacturing-statusfiles.service eoltest-check.service
After=network.target dhcpcd.service manufacturing-statusfiles.service eoltest-check.service
ConditionPathExists=/etc/fct_finalized
ConditionPathExists=/etc/eol_test_passed

[Service]
Type=simple
ExecStart=/usr/bin/network_management
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
