[Unit]
Description=Simple network management service
Wants=dhcpcd.service openvpn.service fctcheck.service
After=network.target dhcpcd.service openvpn.service fctcheck.service
ConditionPathExists=/etc/fct_finalized

[Service]
Type=simple
ExecStart=/usr/bin/network_management
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
