[Unit]
Description=NNG Socket Forwarder for LWM2M Server
After=ppp.service lwm2mserver.service
Wants=ppp.service lwm2mserver.service

[Service]
Type=simple
ExecCondition=sh -c '[ "$(fw_printenv -n dev_debug_enable_nngforward 2>/dev/null)" = "1" ] || exit 1'
ExecStart=/usr/bin/nngforward -q lwm2mserver 28150

[Install]
WantedBy=multi-user.target
