[Unit]
Description=Check EOL test status and update status file
Requires=ipr.service manufacturing-statusfiles.service
Wants=homekit-setup.service network.target
After=ipr.service homekit-setup.service manufacturing-statusfiles.service network.target

[Service]
ExecStart=/usr/bin/eoltest-check
Type=oneshot
# consider service as active after running once; otherwise it will be
# started multiple times
RemainAfterExit=yes
# unexpected error → all red
ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != 0 ]; then cpms-errorhandler; fi'

[Install]
WantedBy=accessory-server.service
WantedBy=internet-led.service
WantedBy=serial-getty@ttyS0.service
WantedBy=sshtunnel.service
WantedBy=swupdate-check.service
