[Unit]
Description=Export relevant GPIOs

[Service]
ExecStart=/usr/bin/fct-tool --initialize-leds
ExecStart=/usr/bin/fct-tool --initialize-button
Type=oneshot

[Install]
WantedBy=multi-user.target
