[Unit]
Description=Export relevant GPIOs

[Service]
ExecStart=/usr/bin/fct-tool --initialize-button
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
