[Unit]
Description=Run HomeKit setup during manufacturing
Requires=ipr.service systemd-random-seed.service
After=ipr.service systemd-random-seed.service
Before=serial-getty@ttyS0.service

[Service]
ExecStart=/usr/bin/homekit-setup
Type=oneshot
RemainAfterExit=yes
ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != 0 ]; then cpms-errorhandler; fi'

[Install]
WantedBy=serial-getty@ttyS0.service
