[Unit]
Description=Run IPR tool
Before=serial-getty@ttyS0.service
After=export-gpios.service
Wants=export-gpios.service

[Service]
ExecStart=/usr/bin/ipr-setup
Type=oneshot

[Install]
WantedBy=serial-getty@ttyS0.service
