[Unit]
Description=Run IPR tool
Before=serial-getty@ttyS0.service
ConditionPathExists=!/etc/eol_test_passed

[Service]
ExecStart=/usr/bin/ipr-setup
Type=oneshot
ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != 0 ]; then fct-tool --set-leds red; fi'

[Install]
WantedBy=serial-getty@ttyS0.service
