[Unit]
Description=Run selftest during manufacturing
Requires=ipr.service
After=ipr.service homekit-setup.service fctcheck.service
Wants=ipr.service homekit-setup.service fctcheck.service
Before=serial-getty@ttyS0.service

[Service]
ExecStart=/usr/bin/selftest-check
Type=oneshot
ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != 0 ]; then fct-tool --set-leds red; fi'

[Install]
WantedBy=serial-getty@ttyS0.service
